.container {
    display: grid;
}

.container > div {
    border: solid 1px black;
    width: 100%;
}
.container > div:before {
    content: "";
	float: left;
	padding-top: 100%;
}

.hover {
    background-color: grey;
    transition: 1s;
}
button {
    display: block;
    margin: 10px auto;
    font-size: 1.5em;
}